h1 {
    color: indigo;
}
h2 {
    color: darkblue;
}
h3 {
    color: darkblue;
}
input[type=submit] {
    background-color: indigo;
    border: none;
    color: white;
    padding: 8px 24px;
    text-decoration: none;
     margin: 4px 2px;
}