<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="UTF-8">
    <title>Question 1</title>
</head>
<body>

<h2>Question 1:</h2>
<h3>If you got isekai'd, what is the first thing you do?</h3>
<form action="/question=2">

    <input type="radio" required name="group1" value="input1" id="input1">
        <label for="input1">Check your surroundings/Plan ahead.</label><br>

    <input type="radio" name="group1" value="input2" id="input2">
        <label for="input2">Check if you became your character from Blade Gift Operative</label><br>

    <input type="radio" name="group1" value="input3" id="input3">
        <label for="input3">Be overly joyful and accidentally die.</label><br>

    <input type="radio" name="group1" value="input4" id="input4">
        <label for="input4">Ask a merchant where you are.</label><br>

    <input type="radio" name="group1" value="input5" id="input5">
        <label for="input5">Move away from larger villages and search for small villages.</label><br>

    <input type="submit" value="Submit">

</form>

</body>
</html>