<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="main.css">
<head>
    <meta charset="UTF-8">
    <title>Question 2</title>
</head>
<body>
<h2>Question 2:</h2>
<h3>After discovering the world, you must decide a class. What is your starter class?</h3>
<form action="/question=3">


    <input type="radio" name="group2" value="input1" id="input1">
        <label for="input1">Warrior</label><br>

    <input type="radio" name="group2" value="input2" id="input2">
        <label for="input2">Mage</label><br>

    <input type="radio" name="group2" value="input3" id="input3">
        <label for="input3">Defender</label><br>

    <input type="radio" name="group2" value="input4" id="input4">
        <label for="input4">Useless Goddess</label><br>

    <input type="radio" name="group2" value="input5" id="input5">
        <label for="input5">Mercenary/Adventurer</label><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>