<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="UTF-8">
    <title>Question 5</title>
</head>
<body>

<h2>Question 5</h2>
<h3>After figuring out how strong you are, what is your play style?</h3>
<form action="/question=6">

    <input type="radio" required name="group5" value="input1" id="input1">
        <label for="input1">Solo Player, "I can't trust anyone."</label><br>

    <input type="radio" name="group5" value="input2" id="input2">
        <label for="input2">Boss, "I'll just use minions for my work."</label><br>

    <input type="radio" name="group5" value="input3" id="input3">
        <label for="input3">Join a party, "3-4 should be enough."</label><br>

    <input type="radio" name="group5" value="input4" id="input4">
        <label for="input4">Solo Carry, "Party is useless so I'll do it myself."</label><br>

    <input type="radio" name="group5" value="input5" id="input5">
        <label for="input5">Teacher, "I'm already op, so I'll train others."</label><br>

    <input type="submit" value="Submit">

</form>

</body>
</html>