<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="UTF-8">
    <title>Question 4</title>
</head>
<body>

<h2>Question 4</h2>
<h3>You were granted one wish for compensation of your "accidental" death, what do you wish for?</h3>
<form action="/question=5">

    <input type="radio" required name="group4" value="input1" id="input1">
        <label for="input1">Goddess Companion</label><br>

    <input type="radio" name="group4" value="input2" id="input2">
        <label for="input2">Finding Love</label><br>

    <input type="radio" name="group4" value="input3" id="input3">
        <label for="input3">OP Magic Abilities</label><br>

    <input type="radio" name="group4" value="input4" id="input4">
        <label for="input4">Power to protect their party</label><br>

    <input type="radio" name="group4" value="input5" id="input5">
        <label for="input5">Admin Powers</label><br>

    <input type="submit" value="Submit">

</form>

</body>
</html>